body {
    background-image: linear-gradient(to right, rgb(222,98,98),rgb(225,184,139));
    color: rgb(225, 231, 224);
    margin: 20px 50px;
    font-family: 'Raleway', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    font-size: 1.3rem;
    margin: 0 50px;
}

.navbar {
    flex: 1;
    justify-content: flex-end;
    list-style-type: none;
}

.navbar-item {
    padding: 0 10px;
}

.navbar-item a {
    text-decoration: none;
    color: white;
}

.active-tab{
    text-decoration: underline;
}


.main-container {
    text-align: center;
}

.container {
    margin: 20px 0;
    padding: 40px;
    flex-wrap: wrap;
}

.gray-title {
    color: rgb(64, 46, 41);
}

#main-page-left {
    flex: 1;
    margin: 0 100px;
}

#main-page-left p{
    font-size: 1.5rem;
}

#main-page-right {
    flex: 1;
    text-align: center;
}

#main-page-image {
    width: 250px;
}

button {
    background-color: rgb(249, 69, 70);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.people-image {
    height: 300px;
}

.border {
    border-top: 3px solid rgb(249, 69, 70);
}

.flexbox-3 {
    flex: 3;
    padding: 0 30px;
}

.flexbox-7 {
    flex: 7;
    padding: 0 30px;
}

.left{
    order: 1;
}

.right {
    order: 2;
}

.container-block {
    width: 33%;
    height: 250px;
    padding: 20px 0;
}

.container-block:nth-child(odd) {
    background-color: rgb(64, 46, 41);
}

.container-block:nth-child(even) {
    background-color: rgb(249, 69, 70);
}

.container-block img{
    width: 300px;
    margin: 0 0 20px 0;
    border-radius: 20px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.9);
    text-align: center;
}

#modal-image {
    width: 60%;
}

#modal-image, #modal-title, #modal-description, #modal-link{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    margin: 30px 300px;
}

#modal-content {
    height: 500px;
}

#modal-title, #modal-link {
    color: rgb(225, 231, 224);
    font-size: 1.3rem;
    font-weight: bold;
}

@-webkit-keyframes zoom{
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom{
    from {transform:scale(0)}
    to {transform:scale(1)}
}

#close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#close:hover, #close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

























